layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="services" {
    pane {
      command "docker"
      args "compose" "up"
      start_suspended true
    }
  }
  tab name="dev" {
    pane {
      command "wails"
      args "dev"
    }
  }
  tab name="ai" {
    pane command="opencode"
  }
  tab name="shell" {
    pane
  }
}
